exec bash                                               # Run bash as your system user
exec --user root -- bash                                # Run bash as root
exec -- composer phpunit:unit                           # Run a composer command (php unit tests)
exec -- composer phpunit tests/phpunit/unit/includes/xml/XmlTest.php                 # Run a single test
exec -- MW_DB=other composer phpunit tests/phpunit/unit/includes/xml/XmlTest.php     # Run a single test for another database
exec -- php maintenance/run.php update --quick          # Run a MediaWiki maintenance script
exec -- tail -f /var/log/mediawiki/debug.log            # Follow the MediaWiki debug log file