cp ./foo foo                                                     # Copy the ./foo file to your home directory
cp --tool=mytool ./foo foo                                       # Copy the ./foo file to the tool
cp --tool=mytool ./foo /tmp/foo                                  # Copy the ./foo file to /tmp/foo on the tool